/*1337563809,169776065*/

a.cx-uiPopover__trigger{display:block}
.sp_xb29ky{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yG/r/kqp1tXyScAG.png);background-repeat:no-repeat;display:inline-block;height:25px;width:14px}
.sx_04ea29{width:7px;height:12px;background-position:-15px -50px}
.sx_d8dd8e{height:14px;background-position:-0px -206px}
.sx_eb5fa5{width:8px;height:8px;background-position:-15px -63px}
.sx_27138c{width:8px;height:8px;background-position:-15px -72px}
.sx_99829f{background-position:-0px -50px}
.sx_1eef4e{background-position:-0px -76px}
.sx_05d811{background-position:-0px -102px}
.sx_b6f8d8{background-position:-0px -128px}
.sx_13f9b6{background-position:-0px -154px}
.sx_4e3db8{background-position:-0px -180px}
.sx_497b98{width:26px;height:24px;background-position:-0px -0px}
.sx_0cc429{width:8px;height:7px;background-position:-15px -81px}
.sx_5f1faf{width:26px;height:24px;background-position:-0px -25px}

#bootloader_l8ANK { height: 42px; }