/*1336806045,176820664*/

.shareOverlay .overlayTitle{padding:5px 30px 5px 10px;background:#6d84b4;color:#fff;font-size:14px;font-weight:bold;margin:0}
.shareOverlay .shareEmpty{text-align:center}
.shareOverlay .shareOverlayFooter{border-top:1px solid #e9e9e9;margin-left:20px;margin-right:20px;padding-top:5px;padding-bottom:5px;text-align:center}
.SubscriptionOptinStoryFooter{border-top:1px solid #e2e2e2}

#bootloader_xoPp5 { height: 42px; }