/*1337568488,176820408*/

.subscriptionsNullStateBlock{padding-top:40px;text-align:center}
.subscriptionsNullStateBlock .message{display:inline-block;text-align:left}
.subscriptionsTable .labelItem{width:220px}
.subscriptionsTable .contentsItem{width:559px}
.async_saving .moreLink{display:none}
.subscriptionsTable tr{border-bottom:1px solid #e9e9e9}
.subscriptionsTable td{padding:10px 0 25px 0}
.singleWidget .timelineUnitContainer{margin-left:-7px}
.subscriptionsTable .friendListListItem .lighterLink a{color:#6d84b4}
.listMemberFacepileNormal .img{height:25px !important;width:25px !important}
.listMemberFacepileLarge .img{height:36px !important;width:36px !important}
div.listMemberFacepileNormal{width:51px;height:51px}
div.listMemberFacepileLarge{width:75px;height:75px}
div.listMemberFacepileHuge{width:101px;height:101px}
.listMemberFacepile{outline:none;line-height:0}
.listMemberFacepile .firstImg{margin-right:1px}
.listMemberFacepile .lastImg{margin:1px 0 0 1px}
.listMemberFacepile .img{display:inline !important}
.egoGYSJ{margin-left:3px}
.egoGYSJ div{margin-bottom:2px}
.egoGYSJImage{margin-top:2px}
.egoGYSJName{display:inline-block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:162px}
#followOptinPrompt{margin-left:-20px;margin-right:-20px;margin-top:-15px;margin-bottom:15px;border:1px dashed #ced5e5;border-width:0 0 1px 0;background-color:#f5f7fa}
#followOptinPrompt .followOptinPromptCloseButton{float:right}
.subscribeNoThanks{padding-left:10px;padding-top:4px}
.friendListListItem .UIImageBlock_Content{height:75px}
.friendListListItem .UIImageBlock_Ext{margin-top:26px}
.friendListListItem .timelineUnitContainer .timelineAudienceSelector{position:relative;top:1px}
.friendListListItem .timelineUnitContainer .fbAudienceHover{margin-left:8px;top:0}
.listAttachment{outline:none}
.listAttachment .uiListItem{margin-top:2px}
.listAttachment .listCreatorLink a{color:#6b84b4}

#bootloader_pU3KW { height: 42px; }