body {
  background-image: url('../img/bg_body.jpeg');
  font-family: "Helvetica Neue" !important;
}
div#theend img,
div#therealend img,
div#loppu img,
div#datajournalism img {
  margin: 0 0 150px 0;
}
div.logo {
  background-position: right center; background-repeat: no-repeat;
  background-image: url('../img/haagahelia.jpg');
  height: 74px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 144px;
}
div.slide q {
  font-size: 50px;
  margin-left: 50px;
}
footnote {
  display: block;
  position: absolute; 
  bottom: 0; 
  right: 12px;
  font-size: 14px;
}
footnote a:hover,
footnote a {
  font-weight: bold;
}
footnote a {
  text-decoration: none;
  color: #666;
}
footnote img {
  vertical-align: -7%;
}